{% extends "global/_base.html" %}
{%block content%}

{% for projeto in page_obj %}
      <div class="projeto_single_feed">
        <div class="foto_projeto">
          <h1>{{ projeto.logo }}</h1>
        </div>
        <div class="item titulo_projeto">
          <h1>{{projeto.nome}}</h1>
        </div>
        <div class="item descricao_projeto">
          <h2>{{projeto.descricao}}</h2>
        </div>
        <div class="item data_criacao">
          <p>{{projeto.data_cadastro}}</p>
        </div>
    </div>
{% endfor %}
{%endblock content%}