{% extends "global/base.html" %}
{%block content%}
{% if page_obj %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Projetos
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">nome</th>
                    <th class="table-header">sigla</th>
                    <th class="table-header">telefone</th>
                    <th class="table-header">e-mail do responsavel</th>
                </tr>
            </thead>
            {% for projeto in page_obj %}
                <tr class="table-row">
                    <td class="table-cel">
                        {{projeto.nome}}

                    </td>
                    <td class="table-cel">
                        {{projeto.sigla}}

                    </td>
                    <td class="table-cel">
                        {{projeto.categoria}}

                    </td>
                    <td class="table-cel">
                        {{projeto.email_responsavel}}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <div class="">
        <h1 class="">
            Nenhum contato encontrado.
        </h1>
    </div>
{% endif %}
{%endblock content%}