{% extends "global/_base.html" %}
{% block content %}
<div class="single-contact">
    <h1>{{ projeto.nome }} {{ projeto.sigla }}</h1>
    <p><b>ID:</b> {{ projeto.id }}</p>


    {% if user == projeto.criador %}
    <div class="contact-links">
        <a class="btn btn-link" href="{% url 'projetos:update' projeto.id %}">Editar</a>
        <form action="{% url 'projetos:delete' projeto.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="confirmation" value="yes">
            <button class="btn btn-danger" type="submit">Deletar</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}